@model Album
<div class="media">
    @if (!string.IsNullOrWhiteSpace(Model.ImgUrl))
    {
        <img class="mr-3" style="width: 64px;" src="@Model.ImgUrl"/>
    }
    <div class="media-body">
        <h5 class="mt-0  @(Model.Name.Length > 50 ? "sm-title" : "")">@Model.Name</h5>
        @Model.ReleaseDate
    </div>
</div>