@model Album
<div class="row">
    <div class="col-md-1">
        <img class="img-rounded img-responsive" src="@Model.ImgUrl" />
    </div>
    <div class="col-md-11">

        <div class="align-center">
            <h2>@Model.Name</h2><small>@Model.ReleaseDate</small>
        </div>

    </div>
</div>