@model CompletedPlaylistViewModel
@{
    ViewData["Title"] = "Cronos - Playlist Created!";
}
<div class="container">
    <div class="row justify-content-center align-items-center h-50">
        <h1 class="display-3">You did it!</h1>
    </div>
    <div class="row justify-content-center align-items-center">
        <p>
            You created a playlist named <span><strong>@Model.Name</strong></span> @if (!string.IsNullOrWhiteSpace(Model.ExtUrl))
            {
                <span>You can access your new playlist</span>
                <a href="@Model.ExtUrl">here</a>
                <span>.</span>
            }
        </p>
    </div>
    <div class="row justify-content-center align-items-center">
        <p>Create another by selecting your name above and click 'Start Over'</p>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="card">
            <img src="@Model.ImgUrl" class="card-img-top" alt="Playlist Image" />

            <div class="card-body">
                <h4 class="card-title">Track Listing</h4>
                <ul class="list-group list-unstyled card-text">
                    @foreach (var t in Model.Tracks)
                    {
                        <li>@t</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    </div>