@using Microsoft.ApplicationInsights.AspNetCore
@model CreatePlaylistViewModel
@{
    ViewData["Title"] = "Cronos - Playlist Settings";
}
@await Component.InvokeAsync("ProgressMenu", Model)
<br /><br />
<form method="POST" asp-action="CreatePlaylist">
    <div class="form-row align-items-center justify-content-center">
        <div class="col-md-3">
            <label asp-for="PlaylistTitle" class="sr-only mb-2"></label>
            <input asp-for="PlaylistTitle" placeholder="Your playlist title" class="form-control my-2" aria-describedby="playlistTitle" />
            <span asp-validation-for="PlaylistTitle" class="text-danger"></span>
        </div>

        <div class="col-md-1">
            <input type="checkbox" class="mb-2" data-toggle="toggle" data-on="Public" data-onstyle="info" data-offstyle="warning" data-off="Private" asp-for="Public" />
        </div>
    </div>
    <div class="form-row align-items-center justify-content-center">
        <div class="col-md-4 my-1">
            <button type="submit" class="btn btn-primary btn-block">Create Playlist</button>
        </div>

    </div>
</form>



<ul class="list-group">
    @foreach (var album in Model.SelectedAlbums)
    {
        <li class="list-group-item">
            @await Html.PartialAsync("AlbumView", album)
        </li>
    }
</ul>

@section Scripts{
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
}
