@{
    ViewData["Title"] = "Cronos - Create Chronological Playlists of an artist";
}

<div class="jumbotron jumbotron-fluid main-jumbo">
    <div class="container">
        <h1 class="display-4 text-light">Cronos</h1>
        <p class="lead text-light">Create a choronological playlist of an artist quickly in Spotify</p>
        <hr class="my-4">
        <p class="text-light">Click below to get started by authorizing Cronos to access your Spotify account</p>
        <p class="lead">
            @{ var loginText = User.Identity.IsAuthenticated ? "Get started" : "Login";}
            <a asp-controller="Home" asp-action="SelectArtist" class="btn btn-success btn-lg" role="button">
           @loginText</a>
        </p>
    </div>
</div>