@model SelectArtistViewModel
@{
    ViewData["Title"] = "Test1";
}

<h2>Select Artist</h2>
@await Component.InvokeAsync("ProgressMenu", Model)

<div class="alert alert-danger" role="alert" id="warningSelect" style="visibility: @(TempData[Constants.ArtistErrorMessage] != null 
                                                                                     && TempData[Constants.ArtistErrorMessage].Equals(true)?  "visible": "collapse");">
    You must select at least one album
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-controller="Home" asp-action="SelectArtist" method="post" class="form-inline">
            <div class="form-group">
                <label asp-for="SearchTerm">Artist</label>
                <input asp-for="SearchTerm" class="form-control artist-suggestion" artist-suggestion-url="@Url.Action("SuggestedArtists", "Home")" type="text"/>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="SearchedArtistId" class="form-control artist-id" />
            </div>
            <button type="submit" class="btn btn-default">Search Artist</button>
        </form>
    </div>
</div>


<div>
    @if (Model.ArtistResults != null)
    {
        if (!Model.ArtistResults.Any())
        {
            <h3>No Results!</h3>
        }
        else
        {
            <h3>Results:</h3>
            <ul>
                @foreach (var artist in Model.ArtistResults)
                {
                    <li><a asp-controller="Home" asp-action="SelectAlbumByArtist" asp-route-artistId="@artist.Id">@artist.Name</a> </li>
                }
            </ul>
        }
    }
    
</div>
